@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Our web-based application falls under the utilities domain and to be more specific electricity billing. 
            The motivation of our project was to build a web-based application that has the ability to predict 
            monthly electricity bill based off predefined criteria’s such as the number of rooms in the house, 
            number of people, square feet area of the house, standard electronics in the house, number of children in   the household if applicable, location of the house, 
            be it urban or not and predict the monthly bill. This will help give the user an estimate of the monthly payment of a bill. 
            This will be done using a household energy bill data. Next, we will be giving a brief detail of some quality requirement we aimed at achieving with this application system..
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <ol>
            <li>Register an account: A user should be able to register an account the one time using unique credentialSign In: the option to sign into a registered account with a valid userID and password.</li>
            <li>Get an estimated monthly bill by selecting the predict button.</li>	
            <li>A user should have the ability to fill out information that includes the number of rooms in the house, number of people, square feet area of the house, standard electronics in the house, number of children in the household, location of the house, be it urban or not and predict the monthly bill.</li>
            <li>View bill history:  A user is able to view bill history on a graph based off entered values </li>
            <li>Logout: The logs a user out of a session and gives that user the option to log back in.</li>
        </ol>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
         <ol>
            <li>Admin login option:  The option to sign into an admin account.</li>
            <li>Create user account:   An admin should be the only one with the access to create an account.</li>
            <li>Deactivate an account:  the ability to deactivate an account.</li>
            <li>Logout: This logs the admin user out of a session and gives that admin user the option to log back in.</li>
        </ol>
    </div>
</div>
