@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Get your bill extimate cost or predictions based on past bill(s) provided</a>.</p>
</div>
