@model CS872_WebApp.Models.BillViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BillViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="emailAddress" class="control-label"></label>
                <input asp-for="emailAddress" class="form-control" />
                <span asp-validation-for="emailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="billDateTIme" class="control-label"></label>
                <input asp-for="billDateTIme" class="form-control" />
                <span asp-validation-for="billDateTIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="billStatus" class="control-label"></label>
                <input asp-for="billStatus" class="form-control" />
                <span asp-validation-for="billStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="houseArea" class="control-label"></label>
                <input asp-for="houseArea" class="form-control" />
                <span asp-validation-for="houseArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numberOfRooms" class="control-label"></label>
                <input asp-for="numberOfRooms" class="form-control" />
                <span asp-validation-for="numberOfRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numberOfChildren" class="control-label"></label>
                <input asp-for="numberOfChildren" class="form-control" />
                <span asp-validation-for="numberOfChildren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numberOfPeople" class="control-label"></label>
                <input asp-for="numberOfPeople" class="form-control" />
                <span asp-validation-for="numberOfPeople" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isAirCondtion" /> @Html.DisplayNameFor(model => model.isAirCondtion)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isTelevision" /> @Html.DisplayNameFor(model => model.isTelevision)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isFlat" /> @Html.DisplayNameFor(model => model.isFlat)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isUrban" /> @Html.DisplayNameFor(model => model.isUrban)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
